//========================================================//
//  Site > Defaults
//========================================================//
//  Includes default style for the page, primarly focused
//  on styling a section block.
//========================================================//

header {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;

    h1 {
        margin: 0;
    }
}

html, body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding-top: $nav-height;

    @at-root main {
        display: block;
        min-height: 80vh;

        @include themify( 'background-color', 'main1' );
    }
}

section {
    padding: $spacer-sec;

    @include themify( 'background-color', 'main1' );
    @include themify( 'color', 'text' );

    .content-width {
        max-width: $content-width;
        margin: 0 auto;
    }

    @at-root h2 {
        margin: $spacer_el;
        font-size: 28pt;
        line-height: 28pt;
        text-transform: uppercase;
        font-family: $header-font;

        @include themify( 'color', 'accent1' );
    }

    @at-root h3 {
        margin: $spacer_el;
        font-size: 14pt;
        line-height: 14pt;
        text-transform: uppercase;
        font-style: italic;

        @include themify( 'color', 'accent2' );
    }

    @at-root p {
        margin: $spacer_el;
        font-size: 12pt;
        line-height: 16pt;

        @include themify( 'color', 'text' );
    }
}