//========================================================//
//  Site > Navbar
//========================================================//
//  Style for the universal site navbar.
//========================================================//

// Full Navigation Bar
nav {
    height: $nav-height;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    transition: $nav-transition;
    z-index: 1000;

    // Navigation Header
    // Includes menu icon, site title, and logo
    .nav-header {
        display: flex;
        flex-flow: row nowrap;
        height: $nav-height;

        @include min_screen($nav-format-cutoff) {
            flex: 1 1 auto;
        }

        #nav-control {
            flex: 0 0 $nav-height;

            @include min_screen($nav-format-cutoff) {
                display: none;
            }
        }

        #nav-title {
            overflow: hidden;
            flex: 1 1 auto;
            line-height: $nav-height;
            font-size: 8pt;
            margin: 0;
            text-align: center;
            padding: 0;
            text-transform: uppercase;
            font-weight: lighter;
            font-family: $header-font;

            @include min_screen(400px) {
                font-size: 11.5pt;
            }

            @include min_screen(500px) {
                font-size: 16pt;
            }

            @include min_screen($nav-format-cutoff) {
                text-align: left;
            }
        }

        #nav-logo {
            flex: 0 0 $nav-height;
            position: relative;

            @include min_screen($nav-format-cutoff) {
                order: -1;
                padding-right: 0;
            }

            img {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 50%;
            }
        }
    }

    @include min_screen($nav-format-cutoff) {
        display: flex;
        flex-flow: row nowrap;
        overflow: show;
    }

    a {
        line-height: $nav-height;
        text-decoration: none;
        color: white;
        display: block;
        height: $nav-height;
        padding: 0 $spacer-el; 

        // .nav-link is a main navigation button
        &.nav-link, &.nav-menu-control {
            background-color: map-get($main-colors, 'dark');
            height: $nav-height - 1;
            border-bottom: 1px solid black;

            @include min_screen($nav-format-cutoff) {
                flex: 0 0 auto;
                height: $nav-height;
                border: none;
                background-color: black;

                &:hover {
                    background-color: map-get($main-colors, 'dark');
                }
            }
        }
    }

    // .nav-menu is a drop-down navigation section
    .nav-menu {
        height: $nav-height;
        overflow: hidden;
        transition: $nav-transition;
        display: flex;
        flex-flow: row wrap;

        @include min_screen($nav-format-cutoff) {
            flex: 0 0 auto;
            flex-flow: column nowrap;

            &:hover {
                height: 136px;
            }
        }

        .nav-link {
            flex: 1 1 auto;
        }

        .nav-menu-control {
            border-left: 1px solid black;
            flex: 0 0 $nav-height - 1;
            padding: 0;
            text-align: center;

            @include min_screen($nav-format-cutoff) {
                display: none;
            }
        }

        .nav-menu-link {
            flex: 0 0 100%;
            border-bottom: 1px solid black;
            line-height: $nav-menu-height;
            padding: 0 (2 * $spacer-el); 
            background-color: map-get($main-colors, 'med');
            height: $nav-menu-height - 1;

            @include min_screen($nav-format-cutoff) {
                height: $nav-menu-height;
                border: none;
            }
        }
    }
}