//========================================================//
//  Site > Navbar
//========================================================//
//  Style for the universal site navbar.
//========================================================//

// Full Navigation Bar
nav {
    position:           fixed;
    top:                0;
    z-index:            1000;
    width:              100%;
    height:             $nav-height;
    overflow:           hidden;
    background-color:   black;
    transition:         $nav-transition;

    @include min_screen($nav-format-cutoff) {
        display:    flex;
        flex-flow:  row nowrap;
        overflow:   visible;
    }

    // Navigation Header Bar
    .nav-header {
        display:        flex;
        flex-flow:      row nowrap;
        height:         $nav-height;

        @include min_screen($nav-format-cutoff) {
            flex:       2 1 auto;
            overflow:   visible;
        }

        // Nav Menu Toggle Icon (Mobile Only)
        #nav-control {
            float:  left;
            flex:   0 0 $nav-height;

            @include min_screen($nav-format-cutoff) {
                display:    none;
            }
        }

        #nav-title {
            float:          left;
            flex:           1 1 auto;
            margin:         0;
            padding:        0;
            line-height:    $nav-height;
            overflow:       hidden;
            font-size:      8pt;
            font-weight:    lighter;
            font-family:    $header-font;
            text-align:     center;
            text-transform: uppercase;

            @include min_screen(400px) {
                font-size:  11.5pt;
            }

            @include min_screen(500px) {
                font-size:  16pt;
            }

            @include min_screen($nav-format-cutoff) {
                text-align: left;
            }
        }

        #nav-logo {
            float:      right;
            position:   relative;
            flex:       0 0 $nav-height;

            @include min_screen($nav-format-cutoff) {
                order:          -1;
                padding-right:  0;
            }

            img {
                position:   absolute;
                top:        45%;
                left:       50%;
                transform:  translate(-50%, -50%);
                height:     50%;
            }
        }
    }

    a {
        display:            block;
        padding:            0 $spacer-el; 
        height:             $nav-height;
        line-height:        $nav-height;
        color:              white;
        text-decoration:    none;

        // .nav-link is a main navigation button
        &.nav-link, &.nav-menu-control {
            height:             $nav-height - 1;
            background-color:   map-get($main-colors, 'dark');
            border-bottom:      1px solid black;

            @include min_screen($nav-format-cutoff) {
                flex:               0 0 auto;
                height:             $nav-height;
                border:             none;
                background-color:   black;

                &:hover {
                    background-color:   map-get($main-colors, 'dark');
                }
            }
        }
    }

    // .nav-menu is a drop-down navigation section
    .nav-menu {
        display:    flex;
        flex-flow:  row wrap;
        height:     $nav-height;
        overflow:   hidden;
        transition: $nav-transition;

        @include min_screen($nav-format-cutoff) {
            position:   relative;
            flex:       0 0 auto;
            flex-flow:  column nowrap;

            &:hover {
                overflow:   visible;
            }
        }

        .nav-menu-header {
            display:    flex;
            flex-flow:  row nowrap;
            flex:       0 0 100%;

            .nav-link {
                flex:   1 1 auto;
            }
    
            .nav-menu-control {
                flex:           0 0 $nav-height - 1;
                padding:        0;
                border-left:    1px solid black;
                text-align:     center;
    
                @include min_screen($nav-format-cutoff) {
                    display:    none;
                }
            }
        }

        .nav-menu-links {
            flex:   0 0 100%;

            @include min_screen($nav-format-cutoff) {
                position:   absolute;
                top:        $nav-height;
                transition: top 300ms ease-in-out;
            }

            .nav-menu-link {
                padding:            0 (2 * $spacer-el); 
                height:             $nav-menu-height - 1;
                line-height:        $nav-menu-height;
                border-bottom:      1px solid black;
                background-color:   map-get($main-colors, 'med');

                @include min_screen($nav-format-cutoff) {
                    height:     $nav-menu-height;
                    border:     none;

                    &:hover {
                        background-color:   map-get($main-colors, 'med-dark');
                    }
                }
            }
        }
    }
}