@function get-theme-color( $color-maps, $variant, $accent-shades ) {
    @if $variant == 'text' {
        @return map-get( $color-maps, $variant );
    }

    $color-map: map-get( $color-maps, $variant );
    $pallette: map-get( $color-map, 'map' );
    $shade: map-get( $color-map, 'shade' );

    @if $pallette == 'main' {
        @return map-get( $main-colors, $shade );
    } @else {
        @return map-get( $accent-shades, $shade );
    }
}
