@mixin screen_wider($size) {
    @media screen and (min-width: $size) {
        @content
    }
};

@mixin screen_narrower($size) {
    @media screen and (max-width: $size) {
        @content
    }
};

@mixin themify($colors: $accent_colors, $themes: $themes) {

    // Iterate over each accent color
    @each $color, $color_map in $colors {

        $accent_color: $color_map !global;

        // Iterate over each theme
        @each $theme, $theme_map in $themes {

            // Create a selector
            &.theme-#{$color}.theme-#{$theme},
            .theme-#{$color} &.theme-#{$theme},
            .theme-#{$color}.theme-#{$theme} &,
            .theme-#{$color} .theme-#{$theme} & {

                // Set the theme variables with `!global`
                $theme_colors: $theme_map !global;

                // Output user content
                @content;
            }
        }

        $theme_colors: $default_theme !global;
    }

    $accent_color: $default_color !global;
}