/* Spacers */
$spacer-sec: 3vw;
$spacer-el: 15px;

/* Size Reference */
$nav-height: 40px;
$nav-menu-height: 32px;
$hdr-full-height: calc(100vh - 40px);
$content-width: 1000px;
$img-frame: 10px;
$img-width: calc(100% - 50px);
$img-width-no-buffer: calc(100% - 20px);

/* Transitions */
$nav-transition: height 300ms ease-in-out;

/* Fonts */
$header-font: 'Architects Daughter', Serif;

/* Colors */
$shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4), 0 0 20px 0 rgba(0, 0, 0, 0.25);

$main-colors: (
  'dark-dark':    #162126,
  'dark':         #2C393F,
  'med-dark':     #425259,
  'med':          #66777F,
  'med-light':    #97A9B2,
  'light':        #C3D1D8,
  'light-light':  #EFF6F9
);

$accent-colors: (
  'neutral': (
    'light':      #97A9B2,
    'med':        #66777F,
    'dark':       #425259
  ),
/*
  'red': (
    'light':      #BA635D,
    'med':        #A04F49,
    'dark':       #7A3C38
  ),
  
  'orange': (
    'light':      #BA7C5D,
    'med':        #A06649,
    'dark':       #7A4E38
  ),
  
  'yellow': (
    'light':      #BAA45D,
    'med':        #A08C49,
    'dark':       #7A6C3D
  ),
  */
  'green': (
    'light':      #87AD79,
    'med':        #6E9361,
    'dark':       #526D48
  ),
  
  'blue': (
    'light':      #6697CC,
    'med':        #5280B2,
    'dark':       #40658C
  )
);

$default-color: map-get($accent-colors, 'green');
$accent-color: $default-color;

/* Color Themes */
$themes: (
  'dark-dark': (
    'text':     white,
    'main1':    map-get($main-colors, 'dark-dark'),
    'main2':    map-get($main-colors, 'dark'),
    'accent1':  map-get($accent-color, 'med'),
    'accent2':  map-get($main-colors, 'med-light')
  ),
  'dark': (
    'text':     white,
    'main1':    map-get($main-colors, 'dark'),
    'main2':    map-get($main-colors, 'dark-dark'),
    'accent1':  map-get($accent-color, 'light'),
    'accent2':  map-get($main-colors, 'med')
  ),
  'light': (
    'text':     black,
    'main1':    map-get($main-colors, 'light'),
    'main2':    map-get($main-colors, 'light-light'),
    'accent1':  map-get($accent-color, 'dark'),
    'accent2':  map-get($main-colors, 'med')
  ),
  'light-light': (
    'text':     black,
    'main1':    map-get($main-colors, 'light-light'),
    'main2':    map-get($main-colors, 'light'),
    'accent1':  map-get($accent-color, 'med'),
    'accent2':  map-get($main-colors, 'med-dark')
  ),
  'color': (
    'text':     black,
    'main1':    map-get($accent-color, 'light'),
    'main2':    map-get($accent-color, 'med'),
    'accent1':  map-get($main-colors, 'dark'),
    'accent2':  map-get($main-colors, 'light-light')
  )
);

$default-theme: map-get($themes, 'dark');
$theme-colors: $default_theme;
