/* Spacers */
$spacer_sec: 3vw;
$spacer_el: 15px;

/* Size Reference */
$nav-height: 40px;
$nav-menu-height: 32px;

/* Colors */
$main_colors: (
  'dark-dark':    #162126,
  'dark':         #2C393F,
  'med-dark':     #425259,
  'med':          #66777F,
  'med-light':    #97A9B2,
  'light':        #C3D1D8,
  'light-light':  #EFF6F9
);

$accent_colors: (
  'red': (
    'light':      #BA635D,
    'med':        #A04F49,
    'dark':       #7A3C38
  ),
  
  'orange': (
    'light':      #BA7C5D,
    'med':        #A06649,
    'dark':       #7A4E38
  ),
  
  'yellow': (
    'light':      #BAA45D,
    'med':        #A08C49,
    'dark':       #7A6C3D
  ),
  
  'green': (
    'light':      #87AD79,
    'med':        #6E9361,
    'dark':       #526D48
  ),
  
  'blue': (
    'light':      #6697CC,
    'med':        #5280B2,
    'dark':       #40658C
  )
);

$default_color: map-get($accent_colors, 'green');
$accent_color: $default_color;

/* Color Themes */
$themes: (
  'dark-dark': (
    'text':     white,
    'main1':    map-get($main_colors, 'dark-dark'),
    'main2':    map-get($main_colors, 'dark'),
    'accent1':  map-get($accent_color, 'med'),
    'accent2':  map-get($main_colors, 'med')
  ),
  'dark': (
    'text':     white,
    'main1':    map-get($main_colors, 'dark'),
    'main2':    map-get($main_colors, 'dark-dark'),
    'accent1':  map-get($accent_color, 'light'),
    'accent2':  map-get($main_colors, 'med-light')
  ),
  'med': (
    'text':     white,
    'main1':    map-get($main_colors, 'med'),
    'main2':    map-get($main_colors, 'dark'),
    'accent1':  map-get($main_colors, 'light'),
    'accent2':  map-get($main_colors, 'light-light')
  ),
  'light': (
    'text':     black,
    'main1':    map-get($main_colors, 'light'),
    'main2':    map-get($main_colors, 'light-light'),
    'accent1':  map-get($accent_color, 'dark'),
    'accent2':  map-get($main_colors, 'med-dark')
  ),
  'light-light': (
    'text':     white,
    'main1':    map-get($main_colors, 'light-light'),
    'main2':    map-get($main_colors, 'light'),
    'accent1':  map-get($accent_color, 'med'),
    'accent2':  map-get($main_colors, 'med')
  ),
  'color': (
    'text':     white,
    'main1':    map-get($accent_color, 'light'),
    'main2':    map-get($accent_color, 'med'),
    'accent1':  map-get($main_colors, 'dark'),
    'accent2':  map-get($main_colors, 'light-light')
  )
);

$default_theme: map-get($themes, 'dark');
$theme_colors: $default_theme;
