nav {
    height: $nav-height;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    transition: $nav-transition;

    a {
        padding: 0 $spacer-el; 
        line-height: $nav-height;
        text-decoration: none;
        color: white;
        display: block;
        height: $nav-height;
        border-bottom: 1px solid black;

        &.nav-link, &.nav-menu-control {
            background-color: map-get($main_colors, 'dark');
            height: $nav-height - 1;
        }
    }

    .nav-menu {
        height: $nav-height;
        overflow: hidden;
        transition: $nav-transition;

        .nav-menu-header {
            display: flex;
            flex-flow: row nowrap;
    
            .nav-menu-title {
                flex: 1 1 auto;
            }

            .nav-menu-control {
                border-left: 1px solid black;
                flex: 0 0 $nav-height - 1;
                padding: 0;
                text-align: center;
            }
        }

        .nav-menu-links {
            grid-area: nav-menu-links;

            .nav-menu-link {
                line-height: $nav-menu-height;
                padding: 0 (2 * $spacer-el); 
                background-color: map-get($main_colors, 'med');
                height: $nav-menu-height - 1;
            }
        }
    }


}