footer {
    padding: $spacer-el;
    background-color: black;
    color: map-get($main-colors, 'dark');
    font-size: 10pt;
    text-align: center;
}

header {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;

    h1 {
        margin: 0;
    }

    &.hdr-home {
        background-color: map-get($main-colors, 'light');
        background-size: cover;
        background-position: center;
        height: $hdr-full-height;
        position: relative;
        border-bottom: 20px solid black;

        img {
            max-width: 50%;
            max-height: 30%;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: $spacer-sec;
            padding: $spacer-el;
            background-color: rgba(255, 255, 255, .6);
        }
    }
}

.ti-sec {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "ti-img"
        "ti-txt";

    &.img-bottom {
        grid-template-areas:
            "ti-txt"
            "ti-img";
    }

    @include min_screen(600px) {
        &.img-left {
            grid-template-rows: auto;
            grid-template-columns: auto 60%;
            grid-template-areas:
                "ti-img ti-txt";
        }

        &.img-right {
            grid-template-rows: auto;
            grid-template-columns: 60% auto;
            grid-template-areas:
                "ti-txt ti-img";
        }
    }

    .ti-sec-img {
        margin: $spacer-el auto;
        grid-area: ti-img;
        max-width: $img-width;
        max-height: 50vh;
    }

    .ti-sec-txt {
        grid-area: ti-txt;
    }
}